<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4 card">
        <div class="login-card-head"><h2 class="title is-2">Sign Up</h2></div>
        <div class="card-content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <div class="control">
                <%= f.label :email, class: "label" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input con-input" %>
              </div>
            </div>

            <div class="field">
              <%= f.label :first_name, class: "label" %><br />
              <%= f.text_field :first_name, class: "input con-input" %>
            </div>

            <div class="field">
              <%= f.label :last_name, class: "label" %><br />
              <%= f.text_field :last_name, class: "input con-input" %>
            </div>

            <div class="field">
              <%= f.label :phone, class: "label" %><br />
              <%= f.phone_field :phone, class: "input con-input" %>
            </div>

            <div class="field">
              <%= f.label :password, class: "label" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "input con-input" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class: "label" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "input con-input" %>
            </div>

            <div class="field">
              <div class="control">
                <%= f.submit "Sign up", class: "auth-button button is-medium" %>
              </div>
            </div>
          <% end %>
          <br />
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
